<div >
    <div >
      <div >
        <!--Sidebar content-->
        <h6 id="intro">Tell us, what's for dinner?</h6>
          <input type="text" id="foodInput" placeholder="Search for food..." ng-model="$ctrl.query">
          <div ng-repeat="foods in $ctrl.foodName | filter:$ctrl.query">
          <ul id="myUL">
            <li><a ng-click="edit(foods)" href="/#!/foods/winelist/{{foods.id}}">{{foods.food}}</a></li>
              </form>
          </ul>
          </div>
      </div>
    </div>
  </div>
